{% extends 'base/base.html' %}

{% load static %}

{% block content %}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">{{ title_complete }}</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <a href="{{ add_url }}" class="btn btn-success">
                                    <i class="material-icons">&#xE148;</i>
                                    <span> ADICIONAR</span>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="lista-licencas" class="table table-bordered table-striped dataTable">
                                    <thead>
                                        <tr>
                                            <th>Nome</th>
                                            <th>Duração (dias)</th>
                                            <th>Multiplicador de Preço</th>
                                            <th>Ações</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for licenca in all_licencas %}
                                        <tr>
                                            <td>{{ licenca.get_nome_display }}</td>
                                            <td>{{ licenca.duracao_dias }}</td>
                                            <td>{{ licenca.multiplicador_preco }}</td>
                                            <td>
                                                <a href="{% url 'saas:editarlicencaview' licenca.id %}" class="btn btn-primary btn-sm">
                                                    <i class="material-icons">&#xE254;</i>
                                                </a>
                                                <a href="{% url 'saas:excluirlicencaview' licenca.id %}" class="btn btn-danger btn-sm">
                                                    <i class="material-icons">&#xE872;</i>
                                                </a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block js %}
<script>
    $(document).ready(function() {
        $('#lista-licencas').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Portuguese-Brasil.json"
            }
        });
    });
</script>
{% endblock %}
